<!DOCTYPE html>
<html>
 
<head>
    <title>Passport with Sequelize</title>
</head>
 
<body>
    <h1>Dashboard</h1>
    <p>Hurray! you are logged in.</p>
    <p><a href="/logout">Logout</a></p>
 
</body> 
</html>